@model SD_330_W22SD_Assignment.Models.ViewModel.CreatePostViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    <div style="display: flex">
        <div style="width: 15%; padding: 1em; text-align: center">
            <span style="border: 1px solid lightgrey; border-radius: 10px 10px; font-size: 55px">&#128516</span>
            <h4>Hi @User.Identity?.Name!</h4>
            <form asp-action="Index" method="get">
                <button type="submit" class="btn" style="background-color: #FF4500">Back to List</button>
            </form>
            <div style="border-top: 1px solid lightgrey; margin-top: 1em">
                <h4>Interests:</h4>
            </div>
        </div>
        <div style="border-left: 1px solid lightgrey; width: 80%; padding: 1em">
            <div>
                <h4>Post a New Question</h4>
            </div>
            <div>
                <form asp-action="PostQuestion" method="post">
                    <label style="font-weight: bold; margin-bottom: 10px">Title</label>
                    <input type="text" placeholder="Title:" required="required" name="title" style="width: 100%; margin-bottom: 1em"/>
                    <textarea id="mytextarea" name="bodyContent" value="testing123" required="required">Enter Text Here</textarea>
                    <label style="font-weight: bold; margin-bottom: 10px; margin-top: 10px; display: block">Select Tags: (Hold ctrl + click for multiple selections)</label>
                    @*Studied ListBox here https://www.codeproject.com/Articles/771999/ASP-NET-MVC-How-to-Create-a-ListBox*@
                    @Html.ListBoxFor(m => m.SelectedTags, Model.Tags, new { size = 5 })
                    <br />
                    <button type="submit" class="btn" style="background-color: #FF4500">Post</button>
                </form>
            </div>
        </div>
    </div>